:root{
  --color1: #22333B;
  --color2: #0A0908;
  --color3: #F2F4F3;
  --color4: #A9927D; 
  --color5: #5E503F;
}
.container-fluid{
  background-color: #22333B;
}
.dev{
    position: absolute;
    top: 5%;
    left: 60%;
    border: solid red;
    width: 500px;
}


/* MENU STYLES  */

.header{
    background-color: var(--color2);
  color: var(--color4);
    
}
.footer{
  background-color: var(--color2);
  color: var(--color4);

}
.main{
    background-color: var(--color4);
    height: 800px;
    width: 900px;
    color: var(--color2)
}
.optionMenu{
    font-size: 1.5em;
    background-color: var(--color3);
    color: var(--color2);
    border: solid 2px  var(--color5);
    height: 50px;
}
.controllersGuide{   
    font-size: 1.5em;
    background-color: whitesmoke;
    color: thistle;
    border: solid 2px plum;
    height: 50px;
}
.controllerTips{
  background-color: var(--color5);
  height: 100px;
  width: 900px;
  color: white;
  font-size: 22px;
  font-family:sans-serif;
}

table {
    width: 80%;
    margin: 1rem auto;
    border-collapse: collapse;
    border: 2px solid white;

  }
  
  th, td {
    padding: 0.5rem;
    text-align: left;
    border: 2px solid white;
  }
  
  th {
    
    text-align: center;
    background-color: var(--color5)
  }
  tr:hover {
    background-color: var(--color3);
  }